<!DOCTYPE html>
<html ng-app="plunker">

<head>
  <meta charset="utf-8" />
  <title>AngularJS Plunker</title>
  <link rel="stylesheet/less" type="text/css" href="style.less" />
  <script src="node_modules/angular/angular.min.js"></script>
  <script src="node_modules/less/dist/less.min.js"></script>
  <script>
    document.write('<base href="' + document.location + '" />');
  </script>
</head>

<body ng-controller="MainCtrl as ctrl">
  <div class="showFire" ng-show="ctrl.ShowFire" ng-style="ctrl.FireImage">
    <div class="monster" ng-show="ctrl.ShowMonster">
      YOU
      <br /> MONSTER
    </div>
  </div>
  <h3>
      Main Weapon Ignition:
                  <span class="status" ng-if="!ctrl.Initialized && !ctrl.IgnitionReady">
        Preparing
      </span>
      <span class="status-go" ng-if="!ctrl.Initialized && ctrl.IgnitionReady">Ready</span>
      <span class="status" ng-if="ctrl.Initialized">Idle</span>
    </h3>
  <div class="bar">
    <div ng-class="{loaded: ctrl.IgnitionTaskReady[$index]}" ng-repeat="readyState in ctrl.IgnitionTaskReady track by $index"></div>
  </div>
  <ul>
    <li>Phase Segmentation Catalyst
      <delayed-load action="Prepare"></delayed-load>
    </li>
    <li>Crystal Oscillation
      <delayed-load action="Commence"></delayed-load>
    </li>
    <li>Hyperspace Buffer
      <delayed-load action="Generate"></delayed-load>
    </li>
  </ul>
  <h3>
      Target Configuration:  
                  <span class="status-go" ng-if="ctrl.TargetConfirmed">Confirmed</span>
      <span class="status" ng-if="!ctrl.TargetConfirmed">Incomplete</span>
    </h3>
  <ul>
    <li>
      Galactic Coordinates
      <br />
      <input class="coordinates" ng-change="ctrl.CoordinatesChanged()" ng-model="ctrl.Coordinates" />
    </li>
    <li>
      Classification
      <br />
      <select ng-model="ctrl.Classification" ng-change="ctrl.ClassificationChanged()">
        <option ng-repeat="class in ctrl.ClassificationOptions">
          {{class}}
        </option>
      </select>
    </li>
  </ul>
  <input type="button" ng-click="ctrl.ConfirmTarget()" value="Lock In" ng-disabled="!ctrl.TargetConfigured" />
  <div class="system-control">
    <label class="header">System Control</label>
    <input class="fire-button" type="button" ng-click="ctrl.Fire()" value="Fire" ng-disabled="!ctrl.ReadyToFire" />
    <br />
    <input type="button" ng-click="ctrl.Reset()" value="Reset" ng-disabled="ctrl.Waiting" />
  </div>
  <script src="scripts/app.js"></script>
  <script src="scripts/random-integer-service.js"></script>
  <script src="scripts/delay-service.js"></script>
  <script src="scripts/delayed-load-reset-service.js"></script>
  <script src="scripts/delayed-load-directive.js"></script>
  <script src="scripts/mdi-status-service.js"></script>
</body>

</html>