@keyframes loading{
  from{ width: 0px; }
  to{ width: 100px; }
}

@fore-color: rgb(0, 200, 0);
@back-color: black;
@input-color: rgb(50, 50, 250);
@disabled-color: @input-color + rgb(20, 20, 20);

body{
 background: @back-color; 
 color: @fore-color;
 font-family: monospace;
}
h3{
  font-size: 2em;
  margin-bottom: 0;
  
  .status{
    color: yellow;
  }
  .status-go{
    color: white;
  }
}
input,
select{
  margin: 5px 0;

  &:not([type]){
    background-color: @back-color;
    border:1px solid @input-color;
    color: white;
  }
  
  &[type="button"]{
    background: rgb(50, 50, 250);
    border: 1px solid rgb(50, 50, 250);
    color: white;

    &:disabled{
      color:@disabled-color;
    }
    cursor:pointer;
  }
}
.delayed-load{
  input[type="button"]{
    
    display:inline-block;
  }
}
.showFire{
  width:320px;
  height:240px;
  border: 1px solid white;
  position:absolute;
  top:20px;
  left:20px;
  
  .monster{
    position:absolute;
    color:white;
    font-size:80px;
    font-weight:bold;
    text-align:center;
    width:320px;
    margin-top:.25em;
  }
}
.bar{
  width:300px;
  height:1em;
  border:1px solid @fore-color;
}
.indicator{
  color: white;
  font-size: 1.5em;
  line-height: 1.5em;
}
.loaded{
  display: inline-block;
  animation-name: loading;
  animation-duration: 1s;
  width: 100px;
  height: 1em;
  background: @fore-color + #333;
}
.fire-button{
  font-size: 4em;
  margin-top: .25em;
}

.system-control {
  border: 1px solid @fore-color;
  margin-top: 20px;
  margin-bottom: 20px;
  position: relative;
  padding:10px;
  text-align: center;
  width: 500px;
  
  input{
    margin-bottom: 10px;
    width: 150px;
  }
}

.header{
  position: absolute;
  top: -0.5em;
  left: 1ch;
  background-color: @back-color;
  padding-left: 1ch;
  padding-right: 1ch;
}