<div class="delayed-load" ng-switch="Status">
  <span ng-switch-when="Ready">
    <span class="indicator" ng-if="Loaded">&#9745;</span>
    <span class="indicator" ng-if="!Loaded">&#9746;</span>
  </span>
  <span class="indicator" ng-switch-when="Loading">&#9744;</span>
  <input type="button" ng-value="Action" ng-click="Load()" ng-disabled="Status != 'Ready'"/>
</div>